[SeatDefaults]
xserver-command=X -s 0 -dpms
autologin-user={{ videowall_user }}
autologin-user-timeout=0
user-session=kiosk
greeter-session=lightdm-gtk-greeter
# following line generated with `arandr`
display-setup-script=/usr/share/xsessions/displaySetup.sh
