[SeatDefaults]
xserver-command=X -s 0 -dpms
autologin-user={{ videowall.user }}
autologin-user-timeout=0
user-session=kiosk
greeter-session=lightdm-gtk-greeter
# following line generated with `arandr`
display-setup-script=xrandr --output DVI-D-0 --off --output HDMI-0 --mode 1920x1080 --pos 0x0 --rotate normal --output DVI-I-1 --mode 1920x1080 --pos 1920x1080 --rotate normal --output DVI-I-0 --off --output DP-1 --off --output DP-0 --mode 1920x1080 --pos 1920x0 --rotate normal
