production:
  secret_key_base: {{ panesfe_secret_key_base }}
  google_oauth2_id: {{ panesfe_google_oauth2_id }}
  google_oauth2_secret: {{ panesfe_google_oauth2_secret }}
  devise_secret_key: {{ panesfe_devise_secret_key }}
