<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:presentations, :index) %></li>
  <li> <%= link_to tag_icon(:plus, pat(:new)), url(:presentations, :new) %></li>
  <li class="active"> <%= link_to tag_icon(:edit, pat(:edit)), url(:presentations, :edit, :id => @presentation.id) %></li>
</ul>
<div class="tabs-content">
  <% form_for :presentation, url(:presentations, :update, :id => @presentation.id), :method => :put, :class => 'form-horizontal' do |f| %>
    <%= partial 'presentations/form', :locals => { :f => f } %>
  <% end %>
</div>
