<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/superslides.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/jquery.animate-enhanced.min.js"></script>
  <script src="/jquery.superslides.min.js"></script>
</head>
<body>

  <div id="slides">
    <div class="slides-container">
      <% slideshow.slides.each do |slide| %>
        <% if slide.is_image? %>
          <%= image_tag slide.image.url, alt: ''%>
        <% elsif slide.is_video? %>
          <video src="<%=slide.image_url%>" autoplay></video>
        <% else %>
          <% raise "slide format not supported!" %>
        <% end %>
      <% end %>
    </div>
  </div>

  <script>
    $('#slides').superslides({play: 7500, pagination: false})
    var container = $('.slides-container');
    var playVideo = function (e, transition){
      var slide = container.children(':eq(' + transition.upcoming_slide + ')')[0];
      if (slide.tagName.toLowerCase() == 'video') {
        slide.play();
      }
    }
    var playVideoFirst = function (e){ 
      playVideo(e, {upcoming_slide: 0});
    }

    $('#slides').on('animating.slides', playVideo)
    $('#slides').on('init.slides', playVideoFirst)


  </script>

</body>
</html>
